<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fpy.community.mapper.QuestionExtMapper" >
  <resultMap id="BaseResultMap" type="com.fpy.community.model.Question" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="GMT_CREATE" property="gmtCreate" jdbcType="BIGINT" />
    <result column="GMT_MODIFIED" property="gmtModified" jdbcType="BIGINT" />
    <result column="COMMENT_COUNT" property="commentCount" jdbcType="INTEGER" />
    <result column="VIEW_COUNT" property="viewCount" jdbcType="INTEGER" />
    <result column="LIKE_COUNT" property="likeCount" jdbcType="INTEGER" />
    <result column="TAG" property="tag" jdbcType="VARCHAR" />
    <result column="CREATOR" property="creator" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.fpy.community.model.Question" extends="BaseResultMap" >
    <result column="DESCRIPTION" property="description" jdbcType="CLOB" />
  </resultMap>

  <update id="incrView" parameterType="com.fpy.community.model.Question" >
    update QUESTION
    set
    VIEW_COUNT = VIEW_COUNT + #{viewCount,jdbcType=INTEGER}
    where id = #{id}
  </update>

</mapper>